In [ ]:
import requests
import pandas as pd 
import json 
import os
def create_embedding(text_list):
    r=requests.post("http://localhost:11434/api/embed", json={
        "model":"bge-m3",
        "input":text_list
    })
    return r.json()["embeddings"]

# r=requests.post("http://localhost:11434/api/embed", json={
#         "model":"bge-m3",
#         "prompt":["mai kyu batau","jai baba ki "]
#     })
# print(r.json()["embeddings"])
jsons=os.listdir("transcripts_json")
chunk_id=0
my_dict=[]
for json_file in jsons:
    with open(os.path.join("transcripts_json",json_file)) as f:
        content=json.load(f)
    print(f"Creating embedding for {json_file}")
    text_list=(chunk["text"] for chunk in content["segments"])
    embedding=create_embedding(list(text_list))
    # print(f"created embedding for {json_file}")

    for i, chunk in enumerate(content["segments"]):
        chunk["chunk_id"]=chunk_id
        chunk["embedding"]=embedding[i]
        chunk_id+=1
        my_dict.append(chunk)

df=pd.DataFrame.from_records(my_dict)
print(df)

Creating embedding for clinical_care_high_res.json
Creating embedding for cryptocurrency_high_res.json
Creating embedding for reinforcement_learning_high_res.json
Creating embedding for theory_of_computation_high_res.json
Creating embedding for image_processing_high_res.json
Creating embedding for cities_and_decarbonization_standard_res.json
Creating embedding for phonetics_high_res.json
Creating embedding for team_dynamics_high_res.json
Creating embedding for creating_breakthrough_products_MIT.json
Creating embedding for short_range_MIT.json

In [43]:
df=pd.DataFrame.from_records(my_dict)

In [44]:
df.tail()

,start,end,text,title,number,chunk_id,embedding
13961,4225.68,4236.68,"So how much of your success in the past, curre...",psychology_high_res,21,13961,"[-0.033567347, 0.042699207, -0.015699822, 0.02..."
13962,4236.68,4243.68,"And we're a very talent oriented society, and ...",psychology_high_res,21,13962,"[-0.031176362, 0.04262775, -0.015105669, 0.009..."
13963,4243.68,4256.68,"So we talked about how psychology and science,...",psychology_high_res,21,13963,"[-0.034539547, 0.022271827, 0.0102228485, -0.0..."
13964,4256.68,4257.68,"Okay, thanks very much.",psychology_high_res,21,13964,"[-0.0150164375, 0.053927604, -0.047888566, 0.0..."
13965,4266.68,4274.68,Thank you.,psychology_high_res,21,13965,"[-0.027261103, 0.010676476, -0.039272897, 0.01..."

In [45]:
df2=df.head()

In [46]:
df2

,start,end,text,title,number,chunk_id,embedding
0,0.00,20.80,"As David said, I've been at this for a long time.",clinical_care_high_res,1,0,"[0.014380696, -0.00033771156, -0.050585058, -0..."
1,20.80,25.16,"I am not a medical doctor, but I've probably l...",clinical_care_high_res,1,1,"[-0.0070670983, 0.0075395596, -0.06565427, 0.0..."
2,25.16,29.64,one on television over the years.,clinical_care_high_res,1,2,"[-0.012371885, 0.020135272, -0.06169223, 0.000..."
3,29.64,34.76,"And actually, that's relevant to today's lectu...",clinical_care_high_res,1,3,"[-0.023099821, 0.019344864, -0.01959856, -0.01..."
4,34.76,40.92,"to set the scene for you to say, well, what ar...",clinical_care_high_res,1,4,"[-0.0023138705, -0.02433533, -0.042380158, -0...."

ValueError: Expected a 1D array, got an array with shape (13966, 1024)

In [48]:
embed

array([[ 0.0143807 , -0.00033771, -0.05058506, ..., -0.03261641,
         0.00471014, -0.00394958],
       [-0.0070671 ,  0.00753956, -0.06565427, ..., -0.04593899,
        -0.02844859, -0.00608189],
       [-0.01237188,  0.02013527, -0.06169223, ..., -0.00219541,
         0.0187369 , -0.01483174],
       [-0.02309982,  0.01934486, -0.01959856, ..., -0.0150517 ,
        -0.0219926 , -0.00415413],
       [-0.00231387, -0.02433533, -0.04238016, ..., -0.03281501,
         0.01026313, -0.04199067]])

In [50]:
from sklearn.metrics.pairwise import cosine_similarity

In [51]:
df2

,start,end,text,title,number,chunk_id,embedding
0,0.00,20.80,"As David said, I've been at this for a long time.",clinical_care_high_res,1,0,"[0.014380696, -0.00033771156, -0.050585058, -0..."
1,20.80,25.16,"I am not a medical doctor, but I've probably l...",clinical_care_high_res,1,1,"[-0.0070670983, 0.0075395596, -0.06565427, 0.0..."
2,25.16,29.64,one on television over the years.,clinical_care_high_res,1,2,"[-0.012371885, 0.020135272, -0.06169223, 0.000..."
3,29.64,34.76,"And actually, that's relevant to today's lectu...",clinical_care_high_res,1,3,"[-0.023099821, 0.019344864, -0.01959856, -0.01..."
4,34.76,40.92,"to set the scene for you to say, well, what ar...",clinical_care_high_res,1,4,"[-0.0023138705, -0.02433533, -0.042380158, -0...."

In [52]:
incoming=input("Ask a question:")

Ask a question ask a question

In [56]:
sim=cosine_similarity(np.vstack(df2["embedding"]),np.vstack(create_embedding([incoming])))

In [57]:
# sim#

array([[0.49831459],
       [0.45915633],
       [0.54545776],
       [0.4491011 ],
       [0.59695184]])

In [61]:
import numpy as np
import pandas as pd 
import json 
import requests
from sklearn.metrics.pairwise import cosine_similarity
def create_embedding(text_list):
    r=requests.post("http://localhost:11434/api/embed", json={
        "model":"bge-m3",
        "input":text_list
    })
    return r.json()["embeddings"]
df=pd.read_json("output_chunks.json")
incoming=input("Ask a question:")
sim=cosine_similarity(np.vstack(df["embedding"]),np.vstack(create_embedding([incoming])))
print(df.iloc[np.argmax(sim)]["text"])

Ask a question: what david said

As David said, I've been at this for a long time.

In [60]:
df.iloc[np.argmax(sim)]

start                                                   537.76
end                                                     539.08
text                            reminding you what science is.
title                                      psychology_high_res
number                                                      21
chunk_id                                                 13386
embedding    [-0.05356487, -0.0016975407, -0.055890117, -0....
Name: 13386, dtype: object